---
name: Functional Tests (Local)

on:
  pull_request:

jobs:
  run-script:
    name: Run script
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        version: ['3.1.2', '3.0-rc1', '3.1-rc1', '3.1.1']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          version: ${{ matrix.version }}
      - name: Validate script
        run: |
          cobc -x ./HelloWorld.cob
          [[ "$(./HelloWorld)" == "Hello World!" ]] || exit 1;
        shell: sh
