---
name: Shell Lint

on:
  push:
    paths:
      - '**.sh'

jobs:
  lint:
    name: Lint
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.2
      - uses: bewuethr/shellcheck-action@v2.0.3
