---
name: Shell Lint

on:
  push:
    paths:
      - '**.sh'
      - '!.husky/_/*.sh'

jobs:
  lint:
    name: Lint
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: bewuethr/shellcheck-action@v2.0.4
